[submodule "home/.zsh/zsh-syntax-highlighting"]
	path = home/.oh-my-zsh-custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
	ignore = dirty
[submodule "home/.zsh/stderred"]
	path = home/.zsh/stderred
	url = https://github.com/sickill/stderred.git
	ignore = dirty
[submodule "home/.vim/bundle/vim-easy-align"]
	path = home/.vim/bundle/vim-easy-align
	url = https://github.com/junegunn/vim-easy-align.git
	ignore = dirty
[submodule "home/.zsh/zsh-git-prompt"]
	path = home/.zsh/zsh-git-prompt
	url = https://github.com/chrisbouchard/zsh-git-prompt.git
	ignore = dirty
[submodule "home/.zsh/liquidprompt"]
	path = home/.zsh/liquidprompt
	url = https://github.com/nojhan/liquidprompt.git
	ignore = dirty
[submodule "home/.zsh/zsh-bd"]
	path = home/.oh-my-zsh-custom/plugins/bd
	url = https://github.com/Tarrasch/zsh-bd.git
	ignore = dirty
[submodule "home/.zsh/hub"]
	path = home/.zsh/hub
	url = https://github.com/github/hub.git
	ignore = dirty
[submodule "home/.zsh/git-flow-completion"]
	path = home/.zsh/git-flow-completion
	url = https://github.com/bobthecow/git-flow-completion.git
	ignore = dirty
[submodule "home/.tmux/plugins/tpm"]
	path = home/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
	ignore = dirty
[submodule "home/.tmux/plugins/tmux-pain-control"]
	path = home/.tmux/plugins/tmux-pain-control
	url = https://git::@github.com/tmux-plugins/tmux-pain-control
	ignore=dirty
[submodule "home/.tmux/plugins/tmux-sensible"]
	path = home/.tmux/plugins/tmux-sensible
	url = https://git::@github.com/tmux-plugins/tmux-sensible
	ignore=dirty
[submodule "home/.tmux/plugins/tmux-yank"]
	path = home/.tmux/plugins/tmux-yank
	url = https://git::@github.com/tmux-plugins/tmux-yank
	ignore=dirty
[submodule "home/.vim/bundle/vim-hilinks"]
	path = home/.vim/bundle/vim-hilinks
	url = https://github.com/kergoth/vim-hilinks.git
	ignore=dirty
[submodule "home/.oh-my-zsh"]
	path = home/.oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
	ignore=dirty
[submodule "home/.gotham-contrib"]
	path = home/.gotham-contrib
	url = https://github.com/whatyouhide/gotham-contrib.git
