[user]
	email = cbouchard@automate.com
	name = Chris Bouchard
	signingkey = AEE7680917BE03244A45967603F0DC3D261D6D8E
[core]
	autocrlf = true
	editor = gvim -f
[push]
	default = simple
[color]
	ui = true
[commit]
	gpgsign = true
[gpg]
	program = gpg2
[diff]
	tool = bc
[difftool "bc"]
	path = /mnt/c/Program Files/Beyond Compare 4/BComp.exe
[merge]
	tool = bc
[mergetool "bc"]
	path = /mnt/c/Program Files/Beyond Compare 4/BComp.exe
[difftool]
	prompt = false
[mergetool]
	prompt = false
[rerere]
	enabled = 1
