[user]
	email = chris@upliftinglemma.net
	name = Chris Bouchard
	signingkey = 5993C7C995C99E57ADEEF6AD702A573BA274105E
[push]
	default = simple
[color]
	ui = true
[commit]
	gpgsign = true
[gpg]
	program = gpg2
