[user]
	email = chris@upliftinglemma.net
	name = Chris Bouchard
	signingkey = 5993C7C995C99E57ADEEF6AD702A573BA274105E
[core]
	abbrev = 8
	excludesfile = ~/.gitignore_global
[push]
	default = simple
[color]
	ui = true
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[merge]
	tool = vimdiff
[mergetool]
	prompt = true
[mergetool "vimdiff"]
	cmd = nvim -f -c \"Gdiff\" \"$MERGED\"
[commit]
	gpgsign = true
[gpg]
	program = gpg2
[rerere]
	enabled = 1
[include]
	path = ~/.gitconfig.local
[alias]
	find-merge = "!sh -c 'commit=$0 && branch=${1:-HEAD} && (git rev-list $commit..$branch --ancestry-path | cat -n; git rev-list $commit..$branch --first-parent | cat -n) | sort -k2 -s | uniq -f1 -d | sort -n | tail -1 | cut -f2'"
	show-merge = "!sh -c 'merge=$(git find-merge $0 $1) && [ -n \"$merge\" ] && git show $merge'"
