[Service]
Environment="B2_ACCOUNT_ID=XXXXXXXXXXXXXXXXXXXXXXXXX"
Environment="B2_ACCOUNT_KEY=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
Environment="RESTIC_REPOSITORY=b2:XXXXXXXXXXXXXXXX:XXXXXXXXXXXXXXXX"
Environment="RESTIC_PASSWORD=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"

# vi: ft=systemd
