[Unit]
Description=Notify user restic backup failed

[Service]
Type=oneshot
RemainAfterExit=true
SyslogIdentifier=notify-send.sh
ExecStart=/usr/bin/env notify-send.sh \
              --urgency=critical \
              --default-action='gnome-terminal-run systemctl --user status %i' \
              'Backup Failure' \
              'Service %i has failed.'

