[Unit]
Description=Restic backup service

[Service]
Type=oneshot
ExecStart=restic backup --verbose --one-file-system --tag=systemd.timer $BACKUP_EXCLUDES $BACKUP_PATHS
ExecStart=restic forget --verbose --tag=systemd.timer --group-by="paths,tags" $FORGET_RETENTION

