# Based on service described at:
#     https://fedoramagazine.org/automate-backups-with-restic-and-systemd/
#

[Unit]
Description=Restic backup service (data pruning)
OnFailure=restic-notify-failure@%i.service

[Service]
Type=oneshot
ExecStart=restic prune --verbose

