# Based on service described at:
#     https://fedoramagazine.org/automate-backups-with-restic-and-systemd/
#

[Unit]
Description=Restic backup service (data pruning)
After=restic-backup.service
OnFailure=restic-notify-failure@%i.service

[Service]
Type=oneshot
# Delete data that is no longer necessary (the backup has been forgotten).
ExecStart=/usr/bin/restic prune --verbose

